<section class="reservations-list" ng-controller="ReservationsListController as reservationsList">
  <div class="page-header">
    <h1>Make a reservation</h1>
  </div>
  <div class="row">
    <div class="col-md-2">
      <aside>
        <div class="panel panel-info date-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Select date</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <input class="form-control"
                     ng-model="reservationsList.dateStart"
                     uib-datepicker-popup="{{ 'dd/MM/yyyy' }}"
                     is-open="reservationsList.datepickerStartOpened"
                     min-date="reservationsList.minStartDate"
                     max-date="reservationsList.dateEnd !== null ? reservationsList.dateEnd - 1 : null"
                     datepicker-options="reservationsList.datepickerOptions"
                     show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="reservationsList.openDatepickerStart()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
            <div class="input-group">
              <input class="form-control"
                     ng-model="reservationsList.dateEnd"
                     uib-datepicker-popup="{{ 'dd/MM/yyyy' }}"
                     is-open="reservationsList.datepickerEndOpened"
                     min-date="reservationsList.minEndDate"
                     datepicker-options="reservationsList.datepickerOptions"
                     show-button-bar="false" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="reservationsList.openDatepickerEnd()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="panel panel-info filters-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Choose filters</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label class="filter-name">Number of beds:</label>
                <div ng-repeat="value in reservationsList.roomFeatureTypes['Beds'].values">
                  <input type="checkbox" id="{{ 'Beds_' + value }}" value="{{ 'Beds_' + value }}"
                         ng-model="reservationsList.filters.features['Beds'][value]">
                  <label for="{{ 'Beds_' + value }}">
                    <span ng-bind="value" ></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="filter-name">Type:</label>
                <div ng-repeat="value in reservationsList.roomFeatureTypes['Type'].values">
                  <input type="checkbox" id="{{ 'Type_' + value }}" value="{{ 'Type_' + value }}"
                         ng-model="reservationsList.filters.features['Type'][value]">
                  <label for="{{ 'Type_' + value }}">
                    <span ng-bind="value" ></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <label class="filter-name">View:</label>
                <div ng-repeat="value in reservationsList.roomFeatureTypes['View'].values">
                  <input type="checkbox" id="{{ 'View_' + value }}" value="{{ 'View_' + value }}"
                         ng-model="reservationsList.filters.features['View'][value]">
                  <label for="{{ 'View_' + value }}">
                    <span ng-bind="value" ></span>
                  </label>
                </div>
              </div>

              <div class="text-center">
                <button type="button" class="btn btn-default"
                        ng-click="reservationsList.clearFilters()">
                  Clear all
                </button>
              </div>
            </form>
          </div>
        </div>
      </aside>
    </div>

    <div class="col-md-10">
      <div class="room"
           ng-repeat="room in reservationsList.rooms">
        <div class="list-group-item room-content">
          <div class="row">
            <div class="col-md-4 image-container">
              <img ng-src="{{ room.imageURL }}">
            </div>

            <div class="col-md-5 room-description">
              <h2 ng-bind="room.features.Type"></h2>
              <p ng-bind="room.features.Description"></p>
            </div>

            <div class="col-md-3 features">
              <div class="feature-size">
                <strong>Size</strong>
                <span ng-bind="room.features.Size"></span>m²
              </div>
              <div class="feature-beds">
                <strong>Beds</strong>
                <span ng-bind="room.features.Beds"></span>
              </div>
              <div class="feature-view">
                <strong>View</strong>
                <span ng-bind="room.features.View"></span>
              </div>

              <div class="feature-price text-center">
                <p>Rate including tax:</p>
                <strong ng-bind="room.features.Price"></strong>
                <strong ng-bind="reservationsList.currency"></strong>
              </div>

              <div class="text-center book-now-button">
                <button class="btn btn-primary" ui-sref="reservations.list.create({ room: room })">
                  Book now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
