.input-group {
    margin-bottom: 15px;
}

.reservations-list .room {
    width: 98%;
    margin: .5% 1%;
    font-size: 1.2em;
    cursor: initial;
}

.reservations-list .room h2 {
    margin-top: 0;
    text-transform: capitalize;
}

.reservations-list .room img {
    width: 100%;
}

.reservations-list .feature-price p {
    margin: 1em 0 0;
}

.reservations-list .room-content {
    padding-top: 0;
    padding-bottom: 0;
}

.reservations-list .room-content .row {
    height: 270px;
}

.reservations-list .features {
    background-color: #EEEEEE;
    height: 100%;
    padding: 15px;
}

.reservations-list .image-container {
    height: 100%;
    padding: 0;
}

.reservations-list .image-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
}

.reservations-list .room-description {
    padding: 15px;
}

.book-now-button {
  padding-top: 15px;;
}

.reservation-create {
    label {
        font-size: 1.2em;
    }
}

.reservation-confirm {
    .notice {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
    }

    .feature-price {
        padding-top: 1em;
    }
}
